@use "../colors.scss";

.header {
    padding: 0.5rem 1rem 0;
}

.body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: colors.$dark-green;
    background-color: colors.$light-green;
}

.navbar {
    .navbar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: colors.$dark-grey;
    }

    .navbar-section {
        float: left;
    }

    .navbar-section a {
        display: block;
        color: colors.$white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar-section a:hover:not(.active) {
        background-color: colors.$black;
    }

    .active {
        background-color: colors.$dark-green;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    gap: 1rem;

    .grid-item {
        padding: 0 1rem 1rem;
        border: 0.2rem solid colors.$dark-green;
        border-radius: 2rem;
        background-color: colors.$mid-green;
        text-align: center;
    }
}

.form-container {
    padding-left: 1rem;

    .form {
        width: 30rem;
        padding: 0.2rem 1rem;
        border: 0.2rem solid colors.$dark-green;
        border-radius: 2rem;
        background-color: colors.$mid-green;

        .form-header {
            font-weight: bold;
            font-size: large;
            text-align: center;
        }

        .form-list {
            list-style: none;
            padding: 0;

            .input-field {
                font: 1rem sans-serif;
                width: 25rem;
                box-sizing: border-box;
                background-color: colors.$light-green;
                border: 0.1rem solid colors.$dark-green;
            }

            .input-field:focus {
                border-color: colors.$black;
            }

            .label {
                display: inline-block;
                width: 4rem;
                text-align: right;
            }

            .form-list-item {
                margin-bottom: 1rem;
            }
        }

        .user-message {
            vertical-align: top;
            height: 5rem;
        }

        .form-list-button {
            padding-left: 4rem;
            margin-left: 0.5rem;

            .submit-button {
                background-color: colors.$dark-green;
                color: colors.$white;
                border: none;
                border-radius: 1rem;
                padding: 1rem 1rem;
            }
        }
    }
}
