form {
	width: 35rem;
	padding: 1rem;
	border: 0.2rem solid #ccc;
	border-radius: 2rem;
}

.form-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

form li + li {
	margin-top: 1rem;
}

label {
	display: inline-block;
	width: 10rem;
	text-align: right;
}

list {
	list-style-type: none;
}

input,
textarea {
	font: 1rem sans-serif;
	width: 25rem;
	box-sizing: border-box;
	border: 0.1rem solid #999;
}

input:focus,
textarea:focus {
	border-color: #000;
}

textarea {
	vertical-align: top;
	height: 5rem;
}

.button {
	padding-left: 10rem;
}

button {
	margin-left: 0.5rem;
}

.navbar {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

	.navbar-list {
		list-style-type: none;
	}

	.navbar-section {
		float: left;
	}

	.navbar-section a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.navbar-section a:hover:not(.active) {
		background-color: #111;
	}

	.active {
		background-color: #04aa6d;
	}
}
