form {
    width: 35em;
    padding: 1em;
    border: 0.2em solid #ccc;
    border-radius: 2em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 10em;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 25em;
    box-sizing: border-box;
    border: 0.1em solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 10em;
}

button {
    margin-left: 0.5em;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

navbar-section {
    float: left;
}

navbar-section a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

navbar-section a:hover:not(.active) {
    background-color: #111;
}

.active {
	background-color: #04AA6D;
}