$white: #ccc;
$grey: #999;
$black: #000;
$turquoise: #04aa6d;

.tree-list {
    list-style: none;
}

.navbar {
    .navbar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $grey;
    }

    .navbar-section {
        float: left;
    }

    .navbar-section a {
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar-section a:hover:not(.active) {
        background-color: $black;
    }

    .active {
        background-color: $turquoise;
    }
}

.form {
    width: 30rem;
    padding: 1rem;
    border: 0.2rem solid $white;
    border-radius: 2rem;

    .form-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .input-field {
            font: 1rem sans-serif;
            width: 25rem;
            box-sizing: border-box;
            border: 0.1rem solid $grey;
        }

        .input-field:focus {
            border-color: $black;
        }

        .label {
            display: inline-block;
            width: 4rem;
            text-align: right;
        }

        .form-list-item + .form-list-item {
            margin-top: 1rem;
        }
    }

    .user-message {
        vertical-align: top;
        height: 5rem;
    }

    .button {
        padding-left: 4rem;
        margin-left: 0.5rem;
    }
}
